<h1>Why?</h1>
<p>I mostly made this site because I was bored, and I wanted to play roleplaying games with my friends. However, I hate interacting with people, and I couldn't well expect everyone to get in on the joy that is IRC, so I ended up writing a web app to let people do RPG things <strike>to</strike> with each other.</p>
