<h1>Privacy</h1>
<p>I make no claims as to the secrecy nor safety of any information you send to
this site. That being said, I am a person who likes herself some privacy, and I
have gone through some trouble to try and prevent <em>bad stuff</em> from
happening to the things you put in this site.</p>
